extends layout

block content
  h1= title
  div.wrapper
    p= mongoData.closestCharging
    p= mongoData.chargingWithin5km
    p= mongoData.benchesWithin5km
  div.wrapper
    h2 Greenland Ecosystem Monitoring GIS & Data - Precipitation
    #chart1.chart
    #chart2.chart
    #chart3.chart
  script.
    var data= !{googleChartFormatLineChartData}
  script(src="https://www.google.com/jsapi")
  script(src="/javascripts/charts.js")