body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
    height: 100px;
}
.wrapper,
.chart {
    width: 80%;
    margin: 0 auto;
}

.chart {
    height: 800px;
}
a {
  color: #00B7FF;
}